<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="Public/img/icon.png">
    <title>Formulario</title>
</head>
<body>
    <!--Header-->
    <header>
        <div>
        <h1>Noticias de Las panteras</h1>
        <p>Donde Cada Jugada Cuenta, Cada Victoria Resuena.</p>
        </div>
    </header>
    <!--navbar-->
        <nav class="navbar">
        <a href="../../index.html">Inicio</a>
        <a href="">Noticias</a>
        <a href="">Calendario</a>
        <a href="">Registro</a>
    </nav> 
    <!--Formulario-->
    <form action="">
        <fieldset>
            <legend>Formulario de registro</legend>
            <label for="nombre">Nombre</label>
            <input type="text" name="name" id="nombre">
            <label for="apellido">Apellido</label>
            <input type="text" name="Iname" id="apellido">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="pass">Contraseña</label>
            <input type="password" name="Contraseña" id="password">
            <label for="fecha">Fecha de nacimiento</label>
            <input type="date" name="date" id="fecha">
            <input type="submit" value="REGISTRARSE">
            <input type="reset" value="BORRAR">
        </fieldset>
    </form>
</body>
</html>