<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/Style2.css">
    <link rel="icon" href="Public/img/icon.png">
    <title>Noticias</title>
</head>
<body>
    <!--navbar bootstrap-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Noticias Las panteras</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
              <a class="nav-link" href="#">Noticias</a>
              <a class="nav-link" href="formulario.html" target="_blank">Registro</a>
              <a class="nav-link" href="https://www.lanacion.com.ar/deportes/el-fixture-de-las-panteras-en-el-preolimpico-de-voley-femenino-para-paris-2024-nid16092023/" target="_blank">Calendario</a>
            </div>
          </div>
        </div>
      </nav>
      <!--carrusel-->
      <div class="row">
        <div class="col-10 offset-1">
          <div id="carouselExample" class="carousel slide">
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../img/voley-panteras-e1664218765161.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../img/imagen-home-opcion21.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../img/las-panterasjpg.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!--cartas-->
      <main>
        <div class="card mb-3">
          <img src="../img/WhatsApp-Image-2023-10-25-at-17.13.06-750x375.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="card-title">Las Panteras perdieron con República Dominicana y buscarán repetir el bronce panamericano</h1>
            <p class="card-text">Las Panteras cayeron ante República Dominicana en un muy buen partido por 3-1 con parciales de 16-25, 25-19, 25-20 y 25-17. Daniela Bulaich fue la máxima anotadora argentina con 13 puntos.
              Las Panteras comenzaron el partido muy concentradas 8-5 arriba con muy buen trabajo desde el saque que luego aumentó por 12-7 con dos ace seguidos de la armadora, Luz Cosulich, Con un gran rendimiento colectivo y sobre todo desde el contraataque de María de la Paz Corbalán, Argentina estiró su ventaja para llegar a la recta final por 20-11. Finalmente un error del equipo caribeño le dio el primer set a Argentina por 25-16.
              El segundo set comenzó muy parejo con los dos equipos metidos en el partido, pero República Dominicana sacó una ventaja de 8-5 gracias a la defensa y el contraataque que hasta ese momento no había tenido en todo el partido. Las Reinas del Caribe aumentaron su ventaja a cinco de diferencia con buen trabajo en bloqueo para adelantarse por 16-11. Las Panteras llegaron a acercarse a dos pero las dominicanas volvieron a aumentar la diferencia para llegar a la recta final por 20-16 y cerrar el set por 25-19.
              El tercer set siguió como el segundo parcial con República Dominicana que se adelantó por 9-5, Las Panteras llegaron a ponerse a uno de diferencia pero las caribeñas mantuvieron su juego y llegaron a la recta final del parcial por 20-14. Argentina luchó cada uno de los puntos pero la Selección dominicana cerró el tercer parcial por 25-20.
              El cuarto set comenzó parejo con los dos equipos en juego pero nuevamente en el 9-6 República Dominicana se adelantó. Argentina siguió con buen ritmo pero las caribeñas sacaron una buena diferencia para encaminarse al triunfo por 15-11 y llegar a la recta final por 20-12 y llevarse el partido por 25-17.
              Las Panteras intentarán repetir la medalla de bronce conseguida en Lima 2019, este jueves desde las 17 hs ante el perdedor de Brasil y México.</p>
            <p class="card-text"><small class="text-body-secondary">2023-10-25</small></p>
          </div>
          <p>Actualizamos la web pero los contenidos anteriores siguen estando disponibles.</p>
          <h2>Las Panteras en Rosario y Córdoba - Gira internacional ante Cuba</h2>
          <blockquote class="twitter-tweet tw-align-center"><p lang="es" dir="ltr">🇦🇷🇨🇺Las Panteras en Rosario y Córdoba - Gira internacional ante Cuba<br><br>ℹ️ Venta de entradas<br>🗓️Partido en Rosario 13/6 <a href="https://t.co/NCYICzJJX1">https://t.co/NCYICzJJX1</a><br><br>🗓️Partido en Córdoba 17/6<a href="https://t.co/ZmS1iGRolC">https://t.co/ZmS1iGRolC</a> <a href="https://t.co/iUihLVjI1F">pic.twitter.com/iUihLVjI1F</a></p>&mdash; Voleibol Argentino (@Voley_FeVA) <a href="https://twitter.com/Voley_FeVA/status/1664350519651971072?ref_src=twsrc%5Etfw">June 1, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <p>
            ¡"Con garra y determinación, las Panteras Voley Argentina rugen con fuerza en la cancha, persiguiendo la victoria con cada salto y cada bloqueo. ¡Nada las detiene, porque son más fuertes que cualquier obstáculo! Juntas, son imparables. ¡Vamos Panteras, a conquistar cada set con pasión y coraje!" 🏐🔥 #PanterasPoderosas #VoleyArgentino"</p>
        </div>
      </main>
      <!--footer-->
    <footer>
      <p>&copy;Diana Coria, Potrero digital</p>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>